.container-body {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  height: 100vh;
}

.container-body .register-btn {
  display: none;
}

.container-body .company-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container-body .company-photos img:nth-child(2) {
  height: 350px;
  position: absolute;
  top: 20rem;
}

.container-body .color-dark {
  background-color: rgba(0, 0, 0, 0.8549019608);
  width: 100%;
  height: 100vh;
  color: #ffffff;
}

.container-body .color-dark .description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 80%;
  margin: auto auto;
  position: relative;
}

.container-body .color-dark .description .description-dados h1 {
  font-size: 3.5rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 2rem;
}

.container-body .color-dark .description .description-dados p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding-bottom: 2rem;
  line-height: 1.7rem;
}

.container-body .color-dark .description .description-dados a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.container-body .color-dark .description .description-dados a button {
  width: 150px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  color: #ffffff;
  letter-spacing: 0.1em;
  font-weight: 500;
  padding: 10px 30px;
  transition: 0.5s;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.container-body .color-dark .description .description-dados a button:hover {
  letter-spacing: 0.25em;
  background-color: #6600CC;
  box-shadow: 0 0 35px #6600CC;
}

.container-body .color-dark .description .description-dados a button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: rgba(0, 0, 0, 0.8549019608);
}

.container-body .color-dark .description .description-dados a button > span {
  position: relative;
  z-index: 1;
}

.container-body .color-dark .description .description-dados a button i {
  position: absolute;
  inset: 0;
  display: block;
}

.container-body .color-dark .description .description-dados a button i::before {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.8549019608);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.container-body .color-dark .description .description-dados a button:hover i::before {
  width: 20px;
  left: 20%;
}

.container-body .color-dark .description .description-dados a button i::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.8549019608);
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

.container-body .color-dark .description .description-dados a button:hover i::after {
  width: 20px;
  left: 80%;
}

.container-body .color-dark .description .contact {
  width: 100%;
  display: inline-block;
  align-items: left;
  padding-left: 5px;
}

@media (max-width: 1239px) {
  .container-body .color-dark .description .description-dados h1 {
    padding-top: 4rem;
    padding-bottom: 1.6rem;
    text-align: center;
  }
}
@media (max-width: 1047px) {
  .container-body {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 475px) {
  .container-body .register-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .container-body .register-btn button {
    margin: 10px 30px 0px 0px;
  }

  .container-body .company-photos img:nth-child(2) {
    height: 350px;
    position: absolute;
    top: 17rem;
  }

  .container-body .register-btn Link {
    text-decoration: none;
  }

  .container-body .register-btn button {
    border: none;
    background-color: #6600CC;
    padding: 8px 10px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-radius: 4px;
  }

  .container-body .register-btn button:hover {
    border: 1px solid #6600CC;
    background-color: #ffffff;
    color: #6600CC;
    cursor: pointer;
  }

  .container-body .color-dark .description .description-dados a {
    display: none;
  }
}
@media (max-width: 432px) {
  .container-body .company-photos img:nth-child(2) {
    height: 250px;
  }
}
@media (max-width: 386px) {
  .container-body .company-photos img:nth-child(2) {
    height: 250px;
    position: absolute;
    top: 15rem;
  }
}
@media (max-width: 336px) {
  .container-body .company-photos img:nth-child(2) {
    height: 200px;
    position: absolute;
    top: 15rem;
  }
}/*# sourceMappingURL=home.css.map */